// Mimic the default admin styles for the button block.
.wp-block-buttons div[data-type="actblue/button"] {
	margin-top: 30px;
	margin-bottom: 30px;
	display: inline-block;
	width: auto;
	margin-right: 8px;
}
