// Display "table" is used because the button container should only wrap the content and not takes the full width.
div[data-type="actblue/button"] {
	.wp-block-actblue-button {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.block-editor-block-styles__item-preview & {
		display: table;
	}
}
